In [64]:
!head  data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

## 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ

In [6]:
n_lines = 0
with open("./data/popular-names.txt","r") as fi:
    for lines in fi:
        n_lines  += 1
n_lines

2780

In [4]:
!wc -l ./data/popular-names.txt

    2780 ./data/popular-names.txt

## 11.タブをスペースに変換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ

In [13]:

with open("./data/popular-names.txt") as fi:
    for i,lines in enumerate(fi):
        lines = lines.replace("\t"," ")
        if i==10: break
        print(lines,end='')

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [15]:
#文字置換のコマンド
!tr '$\t' " " < ./data/popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [16]:
#タブ文字を指定した個数分のスペースで表示するコマンド
!expand -t 1 < ./data/popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ

In [32]:
#*valで全部残りを受け取ってくれる
with open('work/col1.txt', 'w') as fo1,open('work/col2.txt', 'w') as fo2:
    for lines in open("./data/popular-names.txt","r"):
        col1, col2, *_ = lines.strip().split("\t")
        fo1.write(col1 + "\n")
        fo2.write(col2 + "\n")

In [40]:
!head  work/col1.txt

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [41]:
!head  work/col2.txt

F
F
F
F
F
F
F
F
F
F

In [33]:
!cut -f 1 data/popular-names.txt | head

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [35]:
!cut -f 2 data/popular-names.txt | head

F
F
F
F
F
F
F
F
F
F

## 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [38]:
with open('work/merge.txt', 'w') as f:
    for col1, col2 in zip(open('work/col1.txt'), open('work/col2.txt')):
        print(col1.rstrip(), col2.rstrip(), sep='\t', file=f)

In [42]:
!head work/merge.txt

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [44]:
!paste work/col1.txt work/col2.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

## 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [48]:
%%writefile src/head.py
import argparse
from itertools import islice

parser = argparse.ArgumentParser(description='Print the first NUM lines of FILE to standard output.')
parser.add_argument('file', metavar='FILE', type=argparse.FileType('r'),
                    help='file to process')
parser.add_argument('-n', metavar='NUM', type=int, default=10,
                    help='number of lines to print (default: 10)')

args = parser.parse_args()

for line in islice(args.file, args.n):
    print(line, end='')

Writing src/head.py

In [49]:
!python ./src/head.py -h

usage: head.py [-h] [-n NUM] FILE

Print the first NUM lines of FILE to standard output.

positional arguments:
  FILE        file to process

optional arguments:
  -h, --help  show this help message and exit
  -n NUM      number of lines to print (default: 10)

In [51]:
!python ./src/head.py data/popular-names.txt  -n 5

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [60]:
%%writefile src/tail.py
import argparse
from itertools import islice

parser = argparse.ArgumentParser(description='Print the last NUM lines of FILE to standard output.')
parser.add_argument('file', metavar='FILE', type=argparse.FileType('r'),
                    help='file to process')
parser.add_argument('-n', metavar='NUM', type=int, default=10,
                    help='number of lines to print (default: 10)')

args = parser.parse_args()
tail = [''] * args.n
for i,line in enumerate(args.file):
    tail[i % args.n] = line
    
print(''.join(tail))

Overwriting src/tail.py

In [61]:
!python src/tail.py data/popular-names.txt  -n 5

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [63]:
!tail -n 5 data/popular-names.txt

Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [66]:
%%file src/q16.py
import argparse

def main():
    
    parser = argparse.ArgumentParser()
    parser.add_argument("file")
    parser.add_argument("-N",type=int,default=5)


    args = parser.parse_args()
    
    num_lines = sum(1 for line in open(args.file))
    
    line_per = int(num_lines / args.N)
    ret = num_lines % args.N
    print(line_per,ret)
    
    ret_ = 1
    _ret = 0
    for i,line in enumerate(open(args.file)):
        if ret != 0:
             if  i % (line_per + 1) == 0:
                fw = open(args.file + "." + str(int(i /(line_per))),"w")
        else:
             if  i % line_per == 0:
                fw = open(args.file + "." + str(int(i /(line_per))),"w")
        
        fw.write(line)
            

if __name__ == '__main__':
    main()

Overwriting src/q16.py

In [67]:
!python src/q16.py ./data/popular-names.txt -N 4

695 0

In [68]:
!wc -l data/popular-names.txt.?

     695 data/popular-names.txt.0
     695 data/popular-names.txt.1
     695 data/popular-names.txt.2
     695 data/popular-names.txt.3
    2780 total

In [70]:
!head -5 data/popular-names.txt.0

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880

## 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．
解答例

In [73]:
names = {line.rstrip().split()[0] for line in open('data/popular-names.txt')}
names = sorted(names)
print(len(names))

136

In [74]:
!cut -f 1 data/popular-names.txt | sort | uniq | wc -l

     136

##  18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）

In [76]:
data = [line.rstrip().split('\t') for line in open('data/popular-names.txt')]
data = sorted(data, key=lambda row: int(row[2]), reverse=True)
data[:10]

[['Linda', 'F', '99689', '1947'],
 ['Linda', 'F', '96211', '1948'],
 ['James', 'M', '94757', '1947'],
 ['Michael', 'M', '92704', '1957'],
 ['Robert', 'M', '91640', '1947'],
 ['Linda', 'F', '91016', '1949'],
 ['Michael', 'M', '90656', '1956'],
 ['Michael', 'M', '90517', '1958'],
 ['James', 'M', '88584', '1948'],
 ['Michael', 'M', '88528', '1954']]

In [80]:
!sort -k 3 -r -n data/popular-names.txt | head

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
sort: Broken pipe

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [82]:
from collections import Counter

name_counter = Counter(line.rstrip().split()[0] for line in open('data/popular-names.txt'))
name_counter.most_common(10)

[('James', 118),
 ('William', 111),
 ('John', 108),
 ('Robert', 108),
 ('Mary', 92),
 ('Charles', 75),
 ('Michael', 74),
 ('Elizabeth', 73),
 ('Joseph', 70),
 ('Margaret', 60)]

In [83]:
!cut -f1 data/popular-names.txt | sort | uniq -c | sort -bnrk1 | head

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret